[user]
	name = Ho-Yon Mak
	email = hoyon.mak@gmail.com
[alias]
	st = status
	co = checkout
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[push]
	default = simple
[github]
	user = hoyon
