$red: #F94144;
$green: #A7C893;
$grey: #809D9D;
$yellow: #E1EE59;
$focus: #97AFAF;

$dark-text: #040F0F;

$border-radius: 10px;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Noto sans, Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

window#waybar {
  background-color: transparent;
  color: $dark-text;
  /* transition-property: background-color;
     transition-duration: .1s; */
}

window#waybar.hidden {
  opacity: 0.2;
}

window > .horizontal {
  background-color: $grey;
  opacity: 0.9;
  /* margin: 2px 100px 0; */
  /* margin-top: 2px; */
  /* border-radius: $border-radius; */

  .horizontal {
    border-radius: $border-radius;
  }
}

/*
   window#waybar.empty {
   background-color: transparent;
   }
   window#waybar.solo {
   background-color: #FFFFFF;
   }
 */

/*
   window#waybar.termite {
   background-color: #3F3F3F;
   }

   window#waybar.chromium {
   background-color: #000000;
   border: none;
   }
 */

#workspaces button {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0px;
  padding-bottom: 0;
  background-color: transparent;
  border-radius: $border-radius;
  color: $dark-text;
  border: none;

  margin-left: 2px;
  margin-right: 2px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: $focus;
  box-shadow: inherit;
  text-shadow: inherit;
  border: none;
  border: 0;
}

#workspaces button.focused {
  background-color: $focus;
}

#workspaces button.urgent {
  background-color: $red;
}

#mode {
  /* background-color: $focus; */
  border-radius: $border-radius;
  font-weight: bold;
}

.modules-right {
  background-color: $grey;
  opacity: 0.9;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  margin-top: 2px;
  margin-bottom: 0px;
  padding-left: 10px;
}

.modules-left {
  background-color: $grey;
  opacity: 0.9;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  margin-top: 2px;
  margin-bottom: 0px;
  padding-right: 10px;
}

.modules-center {
  background-color: $grey;
  opacity: 0.9;
  border-radius: $border-radius;
  margin-top: 2px;
  margin-bottom: 0px;
  padding: 0 10px;
  color: $dark-text;
}

#window {
  margin-left: 10px;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#custom-ibus {
  padding-left: 5px;
  padding-right: 5px;
  margin: 4px;
  /* border-bottom: 3px solid transparent; */
  /* 
     border-right: 1px solid $dark-text; */
}

#clock {
  background-color: $grey;
}

label:focus {
  background-color: #000000;
}

#pulseaudio {
  /* background-color: $yellow;
     color: $dark-text; */
}

/* #pulseaudio.muted {
   background-color: #90b1b1;
   color: #2a5c45;
   } */

#custom-media {
  /* background-color: $green; */
  /* min-width: 100px; */
}
/* 
   #custom-media.custom-spotify {
   background-color: $green;
   }

   #custom-media.custom-vlc {
   background-color: #ffa000;
   }
 */
#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#custom-ibus {
  margin: 0 4px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: $red;
  border-radius: $border-radius;
}










#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: $red;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: $red;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#cpu {
  background-color: #2ecc71;
  color: #000000;
}

#memory {
  background-color: #9b59b6;
}

#backlight {
  background-color: #90b1b1;
}

#network {
  background-color: #2980b9;
}

#network.disconnected {
  background-color: $red;
}

#battery {
  background-color: #ffffff;
  color: #000000;
}

#battery.charging {
  color: #ffffff;
  background-color: #26A65B;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: $red;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
