# -*- mode: conf-space -*-

set $left-monitor HDMI-A-1
set $right-monitor DP-1

# Assign new workspaces to these monitors
workspace 1 output $left-monitor
workspace 2 output $left-monitor
workspace 3 output $left-monitor
workspace 4 output $left-monitor
workspace 5 output $left-monitor
workspace 6 output $right-monitor
workspace 7 output $right-monitor
workspace 8 output $right-monitor
workspace 9 output $right-monitor
workspace 10 output $right-monitor

input type:keyboard {
    xkb_layout gb
    xkb_options ctrl:nocaps
}

# Workspace 10
assign [class="thunderbird"] workspace number 10
assign [app_id="thunderbird"] workspace number 10
assign [class="todoist"] workspace number 10
assign [class="Standard Notes"] workspace number 10
for_window [workspace=10] layout tabbed
exec thunderbird
exec standardnotes-desktop
exec todoist
