# -*- mode: conf-space -*-

set $left-monitor HDMI-A-1
set $right-monitor DP-1

# Assign new workspaces to these monitors
workspace 1 output $left-monitor
workspace 2 output $left-monitor
workspace 3 output $left-monitor
workspace 4 output $left-monitor
workspace 5 output $left-monitor
workspace 6 output $right-monitor
workspace 7 output $right-monitor
workspace 8 output $right-monitor
workspace 9 output $right-monitor
workspace 10 output $right-monitor

input type:keyboard {
    xkb_layout gb
    xkb_options ctrl:nocaps
}

input 2131:256:Topre_Corporation_HHKB_Professional {
    xkb_model hhk
    xkb_layout hhkb
}

exec wlsunset -l 51.6 -L -0.4

output * background ~/Pictures/bg3.jpg fill